body {
    font-family: 'Montserrat', sans-serif;
}

header {
    position: sticky;
    transition: 1s;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0 1px 5px #9FA8DA;
    background-repeat: repeat;
    background-image: url('../img/pattern.jpg');
    background-size: cover;
    -webkit-backdrop-filter: blur(10px);
}

.header {
    position: sticky;
    transition: 1s;
    top: 0;
    z-index: 9999;
}

.header_hidden {
    transform: translateY(-100%);
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

main {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.button {
    padding: 8px 16px;
    height: 40px;
    background-color: #AEC09A;
    color: #000;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #1A2902;;
    color: #cccccc;
}

.select {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 40px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    color: #000;
    cursor: pointer;
}

.select option {
    padding: 10px;
    font-size: 16px;
    color: #000;
    background-color: #fff;
}

.select select {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
}

.input-field {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.input-field:focus {
    border-color: #007bff;
}


@font-face {
    font-family: "Gloria Hallelujah";
    src: url("../fonts/GloriaHallelujah-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.neon-text {
    font-size: 36px;
    text-shadow: 0 0 5px #AEC09A, 0 0 20px #AEC09A, 0 0 30px #AEC09A, 0 0 40px #AEC09A, 0 0 50px #AEC09A, 0 0 60px #AEC09A;
    animation: neon-animation 1s ease-in-out infinite alternate;
    text-decoration: none;
    color: #1A2902;
    font-family: "Gloria Hallelujah", sans-serif;

}

.neon-text:hover {
    color: #344C11
}

.neon-before {
    color: #AEC09A;
    text-decoration: none;
}

.neon-before:hover {
    color: #1a2030;
    text-decoration: none;
    text-shadow: 0 0 10px #311B92;
}

@keyframes neon-animation {
    from {
        text-shadow: 0 0 5px #AEC09A, 0 0 20px #AEC09A, 0 0 30px #AEC09A, 0 0 40px #AEC09A, 0 0 50px #AEC09A, 0 0 60px #AEC09A;
    }
    to {
        text-shadow: 0 0 10px #778D45, 0 0 30px #778D45, 0 0 40px #778D45, 0 0 50px #778D45, 0 0 60px #778D45, 0 0 70px #778D45;
    }
}

.navbar-brand {
    color: #007bff;
    font-weight: bold;
}

.nav-link {
    font-size: 15px;
    color: #EDE7F6;;
}

.nav-link:hover {
    color: #ffffff;
    text-shadow: 0 0 10px #311B92;
    text-decoration: none;
}

.text-black-with-white-shadow {
    color: #9FA8DA;
    text-shadow: 0 0 10px #9FA8DA;
    font-weight: bold;
}

#description {
    resize: both;
}

.image-field {
    min-width: fit-content;
}

.product-img {
    max-width: 50%;
}

.carousel-item {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: static;
    border-collapse: collapse;
    border-radius: 20px;
}

.carousel-container {
    display: flex;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
}

.border-radius-20px {
    border-collapse: collapse;
    border-radius: 20px;
}

.border-radius-10px {
    border-collapse: collapse;
    border-radius: 10px;
}

.navbar {
    right: 20px;
    flex: 1;
    border-radius: 8px;
    max-width: fit-content;
    max-height: fit-content
}

.list-group {
    width: 90%;
}

.list-group-item {
    background-color: #f4f0eb;
    background-image: linear-gradient(#ECEFF1 50%, #EDE7F6 50%), linear-gradient(90deg, #EDE7F6 50%, #ECEFF1 50%), linear-gradient(45deg, #EDE7F6 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #EDE7F6 75%), linear-gradient(45deg, #EDE7F6 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #EDE7F6 75%);
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px, 10px 10px, 10px 10px;
    background-position: -10px -10px, -10px -10px, 0 0, 0 10px, 10px -10px, 10px 0;
    padding-bottom: 10px;
}

.li-item-all {
    padding-bottom: 10px;
}

.ul-item-name,
.li-item-name {
    text-shadow: #1a2030;
    color: #8D6E63;
}

.ul-item-heading {
    padding: 5px;
    font-size: 32px;
    text-shadow: 0 0 5px #9FA8DA, 0 0 20px #9FA8DA, 0 0 30px #9FA8DA, 0 0 40px #9FA8DA, 0 0 50px #9FA8DA, 0 0 60px #9FA8DA;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 42.5%;
    width: 15%;
    height: fit-content;
    backdrop-filter: blur(1px);
    box-shadow: 0 1px 5px #9FA8DA;
    margin: 10px;
}

.no-product {
    backdrop-filter: blur(1px);
    box-shadow: 0 1px 5px #9FA8DA;
    margin: 20px;
    padding: 10px;
}

.card {
    align-items: center;
}

.image-with-text {
    position: relative;
    width: 40%;
    height: 300px;
}

.image-with-text img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-collapse: collapse;
    border-radius: 20px;
}

.image-with-text #ds {
    position: absolute;
    top: -20%;
    left: 7%;
    transform: translate(-50%, 230%);
    color: #fff;
    font-size: 30px;
    max-width: 10%;
    max-height: 10%;
    z-index: 1;
    text-decoration: none;
}

.image-with-text #vk {
    position: absolute;
    top: -52%;
    left: 18%;
    transform: translate(-50%, 230%);
    color: #fff;
    font-size: 30px;
    max-width: 20%;
    max-height: 20%;
    z-index: 1;
    text-decoration: none;
}

.image-with-text a:hover {
    color: #00ACC1;
}

.ds {
}

.pic-under-text {
    position: relative;
}

.text-on-pic {
    position: absolute;
    top: 85%;
    width: 8%;
    left: 46%;
    padding: 7px 20px;
    text-align: center;
    background: #00000094;
    color: #f2f2f2;
}

.neon-no-fixed {
    text-shadow: 0 0 5px #9FA8DA, 0 0 20px #9FA8DA, 0 0 30px #9FA8DA, 0 0 40px #9FA8DA, 0 0 50px #9FA8DA, 0 0 60px #9FA8DA;
    animation: neon-animation 1s ease-in-out infinite alternate;
    text-decoration: none;
    color: #9FA8DA;
}

.neon-no-fixed:hover {
    text-decoration: none;
    color: black;
}

.carousel {
}

.cart {
    backdrop-filter: blur(1px);
    box-shadow: 0 1px 5px #9FA8DA;
    padding: 15px;
}

.mb-5,
.mb-4 {
    max-width: 50%;
    left: 25%;
}

.text-cart {
    min-width: 100px;
}

.gray-text {
    color: #444444;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.gray-text:hover {
    text-decoration: none;
    color: #444444;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    margin-top: 20px
}

.custom-file-upload:active {
    background-color: #ddd;
}

.main-text {
    position: relative;
    height: fit-content;
    backdrop-filter: blur(1px);
    box-shadow: 0 1px 5px #9FA8DA;
    text-indent: 20px;
    display: flex;
}

.table-name {
    justify-self: flex-start;
    margin-top: auto;
    margin-bottom: auto
}

.main-text-divs {
    text-indent: 20px;
    padding-bottom: 20px;
}

#romanov {
    text-decoration: none;
    color: #1a2030;
}

#romanov:hover {
    color: #f2f2f2;
    text-shadow: 0 0 10px #9FA8DA;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.widget-container {
    display: flex;
    justify-content: space-between;
}

.widget {
    width: calc(33.33% - 10px);
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

.widget:not(:last-child) {
    margin-right: 20px;
}

.image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-color: #f5f5f5;
}

h3 {
    margin-top: 10px;
}

p {
    margin: 10px 0;
}

.price {
    font-weight: bold;
}

.view-all {
    text-align: right;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #AFF0C1;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.btn:hover {
    background-color: #AFF0C1;
}

.view-all-products {
    text-align: center;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    background-color: #042157;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #033b8a;
}

.btn-circle {
    position: relative;
}

.btn-circle i {
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.fa-arrow-right {
    font-size: 14px;
}

.navbar {
    backdrop-filter: blur(5px);
}

.nav-item {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px
}

.nav-item-30 {
    margin-left: 30px
}

.register-button {
    color: #333;
    text-decoration: none;
}

.register-button:hover {
    color: #555;
}

.login-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.login-button:hover {
    background-color: #555;
    color: #cccccc;
}

.logout-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.logout-button:hover {
    background-color: #555;
    color: #cccccc;
}

.reg-log-label {
    margin-top: 10px;
}

.reg-card {
    max-width: 52%;
    min-width: 52%;
    margin-left: 24%;
    margin-right: 24%;
    border-radius: 10px;
    backdrop-filter: blur(1px);
    box-shadow: 0 1px 5px #9FA8DA;
    display: flex;
}

.card-item {
    width: 100%;
    flex: 1;
}

.item-item {
    background-color: #a5bf97;
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.my-submit-button {
    width: 100%;
}

@media (max-width: 768px) {
    .card-left img {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}

.card-left {
    flex: 1;
    max-width: 100%;
}

.card-left-img {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px
}

.item-item-item {
    float: right;
    margin-top: 5px
}

#save-login {
    display: inline-flex;
    min-width: fit-content;
    flex: 1
}

#save-login-div {
    float: left;
    padding-top: 11px;
    justify-content: flex-start
}

#save-login-label {
    float: right;
    padding-left: 10px
}

.button-container {
    width: 100%;
    margin-top: auto;
    flex: 1
}

.card-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    min-width: 45%;
}

.card-right form {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-page-text {
    padding-top: 10px;
    padding-left: 20px;
    flex: 1;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 20px
}

.pattern {
}

.table {
    width: 100%;
    outline: 1px solid #1a2030;
    border-radius: 5px;
    border-collapse: collapse;
}

.table th,
.table td {
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table td {
    vertical-align: top;
}

.button-header {
    font-size: 15px;
    text-decoration: none;
    background-color: #cccccc;
    border: none;
    flex: 1;
    max-width: fit-content;
    margin-right: 10px
}

.button-header a {
    color: #1A2902;
    text-decoration: none;
}

.button-header:hover {
    background-color: #1A2902;
}

.button-header:hover a {
    color: #cccccc;
}

.sort-button {
    text-decoration: none;
    color: #1a2030;
}

.card {
    border: none;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    border-radius: 20px;
    min-height: 225px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 384px) {
    .card {
        min-height: 175px;
    }
}

@media (max-width: 210px) {
    .card {
        min-height: 150px;
    }
}

.card.card-has-bg {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center center;
}

.card.card-has-bg:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    -webkit-filter: grayscale(1);
    filter: grayscale(100%);
}

.card.card-has-bg:hover {
    transform: scale(0.98);
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
    background-size: 130%;
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card.card-has-bg:hover .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: #1f6135;
    background: linear-gradient(0deg, rgba(35, 51, 41, 0.5) 0%, rgba(42, 92, 3, 0.5) 100%);
}

.card .card-footer {
    background: none;
    border-top: none;
}

.card .card-footer .media img {
    border: solid 3px rgba(255, 255, 255, 0.3);
}

.card .card-meta {
    color: #AEC09A;
}

.card .card-body {
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card:hover {
    cursor: pointer;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card:hover .card-body {
    margin-top: 30px;
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card .card-img-overlay {
    transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    background: rgba(255, 255, 255, 1);
    background: linear-gradient(0deg, rgba(35, 51, 41, 0.3785889356) 0%, rgba(42, 92, 3, 0.85) 100%);
}

.select-option:hover {
    background-color: #555555;
}

.header-blur {
    backdrop-filter: blur(5px);
    display: flex;
    height: 79px
}

.header-links {
    flex: 1;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    justify-content: center;
}

.idea-details {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#h2-idea-name {
    margin-top: 20px;
    justify-self: center;
    text-align: center;
}

#img-idea-image {
    max-width: 800px;
    max-height: 500px;
    border-radius: 10px;
    box-shadow: 0 1px 5px #9FA8DA;
    display: block;
    margin: 0 auto;
}

#button-mt-20 {
    margin-top: 20px
}

#main-page-div {
    display: flex;
    min-height: 79px;
    max-height: 79px;
    justify-content: space-between;
    flex-direction: row
}

#alert-style {
    max-width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    padding-right: 30px
}

.alert-login {
    max-width: 100%;
    flex: 1
}

#sort-buttons {
    justify-self: flex-end;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: row
}

.sort-buttons {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

#select-style {
    padding-left: -20px;
    padding-right: -20px;
    height: 40px
}

#search-label {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px
}

.search-input {
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
}

#search-input-pl-10 {
    padding-left: 10px;
}

#row-ideas {
    margin-top: 20px
}

.card-image-background {
    width: 300px;
    height: 450px
}

#submit-button-step-3 {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none
}

.ideas-step-3-info {
    display: flex;
    flex-direction: row;
    margin-top: 20px
}

.ideas-step-3-info h4 {
    margin-top: auto;
    margin-bottom: auto;
    flex: 1
}

.ideas-step-3-info p {
    margin-top: auto;
    margin-bottom: auto;
    flex: 1
}

.form-step-3 {
    min-width: 40%;
    display: flex;
    flex-direction: column
}

#button-step-1 {
    margin-top: 20px;
    border: none
}

.form-step-2 {
    display: flex;
    flex-direction: column
}

#card-item-step-2 {
    margin-bottom: 20px;
    margin-top: 20px
}

#card-item-flex {
    display: flex
}

.card-item-flex-item {
    flex: 1
}

#submit-button-step-2 {
    margin-top: 20px;
    margin-bottom: 20px;
    border: none
}

.form-admin {
    display: inline;
}

.admin-button {
    border: none
}

.button-sort {
    border: none;
    background-color: #cccccc;
    border-radius: 5px;
}

.button-sort:hover {
    background-color: #dddddd;
    border: none;
}

.comment {
    margin-bottom: 30px;
    border: 1px solid #AEC09A;
    border-radius: 5px;
    max-width: 40%;
    min-width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.comment p {
    margin: 0;
}

.comment-author {
    background-color: #AEC09A;
    padding: 10px 2px;
}

.comment-author .author {
    font-weight: bold;
    color: #1a2030;
    font-size: 20px;
    display: flex;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: left;
}

.comment-author .date {
    font-style: oblique;
    color: #555555;
    font-size: 13px;
    text-align: left;
}

.comment-textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
    margin-bottom: 10px;
    max-width: 100%;
}

.comment-enter-label {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.button-ml-20 {
    margin-left: 20px;
}

.comments-section {
    margin-left: 10px;
    border: 1px #555555;
    border-radius: 10px;
    justify-self: center;
    text-align: center;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.comment-text {
    padding: 10px;
    font-size: 15px;
    text-align: left;
    max-width: 100%;
}

.idea-details-block-1 {
    background-image: url("../img/pattern.jpg");
    background-size: cover;
    background-repeat: repeat;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    max-width: 65%;
    min-width: 65%;
    max-height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.blur-image-card {
    display: flex;
    flex-direction: row;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    max-width: 100%;
    min-width: 100%;
    max-height: fit-content;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.idea-image-date {
    flex: 1;
}

.idea-description {
    flex: 1;
}