{% extends "empty.html" %}

{% block content %}
    <h1>Добавление идеи - шаг 3</h1>
    <div class="card">
        <form method="POST" enctype="multipart/form-data" class="form-step-3">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="ideas-step-3-info">
                <h4>Название идеи:</h4>
                <p>{{ session['idea_name'] }}</p>
            </div>

            <div class="ideas-step-3-info">
                <h4>Описание идеи:</h4>
                <p>{{ session['idea_description'] }}</p>
            </div>

            <div class="ideas-step-3-info">
                <h4>Время добавления:</h4>
                <p>{{ session['idea_time'] }}</p>
            </div>


            <label for="image" class="custom-file-upload button">
                <input type="file" id="image" name="image" class="input-field image-field button">
                <div id="file-name">Выберите файл картинки</div>
            </label>

            <script>
                const fileInput = document.getElementById('image');
                const fileName = document.getElementById('file-name');

                fileInput.addEventListener('change', (event) => {
                    const file = event.target.files[0];
                    fileName.textContent = file.name;
                    fileName.style.backgroundColor = 'black';
                    fileName.style.fontWeight = 'bold';
                });
            </script>

            <input type="submit" name="submit_button" value="Отправить на проверку" class="button"
                   id="submit-button-step-3">
        </form>
    </div>
{% endblock %}