{% extends "empty.html" %}

{% block content %}
    <h1>Approved Ideas</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>
            <th>Add Time</th>
            <th>Likes</th>
            <th>Action</th>
        </tr>
        {% for idea in ideas %}
            <tr>
                <td>{{ idea.name }}</td>
                <td>{{ idea.description }}</td>
                <td><img src="{{ url_for('static', filename='uploads/' + idea.image) }}" alt="Image"></td>
                <td>{{ idea.add_time }}</td>
                <td>{{ idea.likes }}</td>
                <td>
                    <form method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="idea_id" value="{{ idea.id }}">
                        <button type="submit" name="action" value="like">Like</button>
                        <button type="submit" name="action" value="dislike">Dislike</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}