<!DOCTYPE html>
<html>
<head>
    <title>UrbanIdeas</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../static/css/main_page.css">
    <link rel="icon" href="../static/img/eco-logo-no-background.png">

</head>
<body>
<header class="header">
    <div class="header-blur">
        <div class="main-page-text"><a
                href="/"
                class="neon-text">Urban Ideas</a>
        </div>
        <div class="header-links">
            {% if current_user.username == 'admin' %}
                <button class="button button-header">
                    <a href="/admin">Проверить идею</a>
                </button>
            {% endif %}
            <button class="button button-header">
                <a href="/ideas">Идеи</a>
            </button>
            {% if current_user.is_authenticated %}
                <button class="button button-header">
                    <a href="{{ url_for('add_idea_step1') }}">Создать проект</a>
                </button>
            {% endif %}
        </div>
        <nav class="navbar">
            <div>
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a href="/logout" class="logout-button">Выйти</a>
                    </li>

                {% else %}
                    <li class="nav-item nav-item-30">
                        <a href="/registration" class="register-button">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="login-button">Вход</a>
                    </li>
                {% endif %}
            </div>
        </nav>
    </div>
</header>
<div class="landing">{% block main %}{% endblock %}</div>
<main>
    {% block content %}{% endblock %}
</main>
{% block footer %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
<script
        src="https://code.jquery.com/jquery-3.7.0.js"
        integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
        crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const onScrollHeader = () => {
            const header = document.querySelector('.header')
            let prevScroll = window.pageYOffset
            let currentScroll
            window.addEventListener('scroll', () => {
                currentScroll = window.pageYOffset
                const headerHidden = () => header.classList.contains('header_hidden')
                if (currentScroll > prevScroll && !headerHidden()) {
                    header.classList.add('header_hidden')
                }
                if (currentScroll < prevScroll && headerHidden()) {
                    header.classList.remove('header_hidden')
                }
                prevScroll = currentScroll
            })
        }
        onScrollHeader()
    });

</script>
</body>
</html>