{% extends "empty.html" %}

{% block content %}
    <head>
        <title>Детали идеи</title>
    </head>
    <body>
    <div class="border-radius-10px main-text"
         style="display: flex;">
        <div class="idea-details" style="margin-left: 20px; margin-bottom: 20px">
            <h2 style="margin-top: 20px">{{ idea.name }}</h2>
            <p>{{ idea.description }}</p>
            {% if idea.image %}
                <img src="{{ url_for('static', filename='img/' + idea.image) }}" alt="Image"
                     style="max-width: 300px; max-height: 300px; border-radius: 10px; box-shadow: 0 1px 5px #9FA8DA; margin-left: 20px">
            {% endif %}
            <p>Дата добавления: {{ idea.add_time.strftime('%Y-%m-%d %H:%M') }}</p>
            <p>Лайки: {{ idea.likes }}</p>

            {% if current_user.is_authenticated %}
                <form method="POST" action="{{ url_for('like_dislike', idea_id=idea.id, action='like') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="button button-header"><a>Лайк</a></button>
                </form>

                <form method="POST" action="{{ url_for('like_dislike', idea_id=idea.id, action='dislike') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button style="margin-top: 20px" type="submit" class="button button-header"><a>Дизлайк</a></button>
                </form>
            {% endif %}
        </div>
    </div>
    </body>
{% endblock %}
