{% extends "empty.html" %}

{% block content %}
    <head>
        <title>Детали идеи</title>
    </head>
    <body>
    <div class="border-radius-10px main-text">
        <div class="idea-details">
            <h2 id="h2-idea-name">{{ idea.name }}</h2>
            <p>{{ idea.description }}</p>
            {% if idea.image %}
                <img src="{{ url_for('static', filename='img/' + idea.image) }}" alt="Image" id="img-idea-image">
            {% endif %}
            <p>Дата добавления: {{ idea.add_time.strftime('%Y-%m-%d %H:%M') }}</p>
            <p>Лайки: {{ idea.likes }}</p>

            {% if current_user.is_authenticated %}
                <form method="POST" action="{{ url_for('like_dislike', idea_id=idea.id, action='like') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="button button-header"><a>Лайк</a></button>
                </form>

                <form method="POST" action="{{ url_for('like_dislike', idea_id=idea.id, action='dislike') }}">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <button type="submit" class="button button-header" id="button-mt-20"><a>Дизлайк</a></button>
                </form>
            {% endif %}
        </div>
    </div>
    </body>
{% endblock %}
