{% extends "empty.html" %}

{% block main %}
    <div class="main-pic">
        <img src="../static/img/land-pic-6.png" alt="Background Image"/>
        <h1 class="centered-text">UrbanIdeas</h1>
        <p class="under-centered-text">Сайт-агрегатор идей по благоустройству города</p>
        <a class="start-now" href="/registration">Начать сейчас</a>
    </div>
    <div class="main-text-landing">
        <div class="el-problema">
            <h1>Проблема</h1>
            <a>
                Недостаток централизованной платформы, которая бы собирала идеи и предложения по улучшению городской
                инфраструктуры, общественных услуг, развитию сообщества и другим аспектам городской жизни, приводит к
                потере возможностей для улучшения качества жизни в городе.
            </a>
        </div>
        <div class="actuality">
            <div class="actuality-1">
                <h1>Актуальность</h1>
                <a class="white-text">Платформа-агрегатор идей по благоустройству города предоставляет жителям
                    возможность активно участвовать
                    в преобразовании своей городской среды. Данный инструмент - пространство для объединения горожан,
                    архитекторов, городских активистов и меценатов с целью реализации проектов по улучшению
                    благоустройства.
                    Такой центр играет важную роль в оповещении городских сообществ об успешных проектах. Целью
                    платформы
                    является вовлечение максимального количества активистов в процессы улучшения городской среды, чтобы
                    совместными усилиями создать комфортное и привлекательное пространство для всех жителей.
                </a>
            </div>
        </div>
        <div class="el-grupo"><h1>Команда проекта</h1></div>
        <div class="team">
            <div class="team-item">
                <img src="../static/img/team-1-no-back.png" alt="">
                <a class="team-name">Марасанов Роман</a>
                <a class="team-desc">Менеджер по идеям</a>
            </div>

            <div class="team-item">
                <img src="../static/img/team-2-no-back.png" alt="">
                <a class="team-name">Чупрына Матвей</a>
                <a class="team-desc">Разработчик сайте <br>(тех-поддержка)</a>
            </div>

            <div class="team-item">
                <img src="../static/img/team-3-no-back.png" alt="">
                <a class="team-name">Голосов Антон</a>
                <a class="team-desc">UI/UХ дизайнер<br>Организатор</a>
            </div>
        </div>
    </div>

{% endblock %}