{% extends "empty.html" %}

{% block main %}
    <div class="main-pic">
        <img src="../static/img/land-pic-7.png" alt="Background Image"/>
        <h1 class="centered-text">UrbanIdeas</h1>
        <p class="under-centered-text">Сайт агрегатор идей по благоустройству Липецка</p>
        <a class="start-now" href="{{ '/add_idea/step1' if current_user.is_authenticated else '/registration' }}">Начать
            сейчас</a>
    </div>
    <div class="main-text-landing">
        <div class="for-what">
            <h1>Есть идея по благоустройству, но не знаете где её предложить?</h1>
            <a>Для этого мы и создали наш сайт. Нужно всего лишь загрузить идею.</a>
        </div>
        <div class="why-what">
            <div class="why-what-blur">
                <div class="your-way">
                    <h1>Ваш путь публикации идеи</h1>
                </div>
                <div class="timeline">
                    <div class="content-left">
                        <div class="timeline-item-left">
                            <h1>Идея</h1>
                            <a>У вас появляется идея по благоустройству города</a>
                        </div>
                        <div class="timeline-item-left"></div>
                        <div class="timeline-item-left">
                            <h1>Регистрация идеи</h1>
                            <a>Три пункта: правила, описание и картинки. Далее - модерация. Всего четыре шага для
                                благоустройства!</a>
                        </div>
                        <div class="timeline-item-left"></div>
                        <div class="timeline-item-left">
                            <h1>Лучшая идея</h1>
                            <a>В конце месяца выбирается лучшая идея (по количеству голосов). Эта идея будет
                                реализованна</a>
                        </div>
                    </div>
                    <div class="content-center">

                    </div>
                    <div class="content-right">
                        <div class="timeline-item-left"></div>
                        <div class="timeline-item-right">
                            <h1>Регистрация на платформе</h1>
                            <a>Зарегистрируйтесь на сайте и нажмите кнопку “предложить идею”</a>
                        </div>
                        <div class="timeline-item-left"></div>
                        <div class="timeline-item-right">
                            <h1>Голосование</h1>
                            <a>После отправки идеи на модерацию, пользователь может проголосовать за понравившуюся
                                идею</a>
                        </div>
                        <div class="timeline-item-left"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="about-us">
            <h1>Зачем?</h1>
            <a>Платформа дает возможность жителям предлагать идеи по благоустройству Липецка. Принимаются идеи по
                благоустройству как конкретных дворовых территорий, так и отдельных неблагоустроенных территорий города
                (в
                том числе их реорганизации) в целях повышения комфорта и безопасности граждан. Отобранные экспертами
                идеи
                гарантировано представятся для реализации технопарку "Кванториум".</a>
        </div>
        <div class="why-what">
            <div class="why-what-blur">
                <div class="el-grupo">
                    <h1>Команда проекта</h1>
                </div>
                <div class="team">
                    <div class="team-item">
                        <img src="../static/img/team-1-no-back.png" alt="">
                        <a class="team-name" href="https://vk.com/rmarasanov0">Марасанов Роман</a>
                        <a class="team-desc">Менеджер по идеям</a>
                    </div>

                    <div class="team-item">
                        <img src="../static/img/team-2-no-back.png" alt="">
                        <a class="team-name" href="https://vk.com/m4estro777">Чупрына Матвей</a>
                        <a class="team-desc">Разработчик сайта <br>(тех-поддержка)</a>
                    </div>

                    <div class="team-item">
                        <img src="../static/img/team-3.png" alt="" class="img-anton">
                        <a class="team-name" href="https://vk.com/mukcep1">Голосов Антон</a>
                        <a class="team-desc">UI/UХ дизайнер<br>Организатор</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="why-we">
            <h1>Уже есть идея?</h1><br>
            <button class="button add-idea-button"><a href="/registration">Вперёд!</a></button>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="footer">
        <a>Контакты</a>
        <a>urbanideas48@gmail.com</a>
        <a>+79205074160</a>
        <a>©UrbanIdeas, 2023</a>
    </footer>
{% endblock %}
