{% extends "empty.html" %}

{% block content %}
    <head>
        <title>Логин</title>
    </head>
    <body>
    <div class="reg-card">
        <div class="card-left">
            <img src="../static/img/3.jpg" alt="3" class="card-left-img">
        </div>
        <div class="card-right">
            <h1>Логин</h1>

            <form method="POST" action="/login">
                {{ form.csrf_token }}
                <div class="card-item">
                    <div class="item-item">
                        <label for="{{ form.username.id }}" class="reg-log-label">Имя пользователя:</label>
                        <div class="item-item-item">{{ form.username }}</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="item-item">
                        <label for="{{ form.password.id }}" class="reg-log-label">Пароль:</label>
                        <div class="item-item-item">{{ form.password }}</div>
                    </div>
                </div>
                <div id="save-login">
                    <div id="save-login-div">{{ form.remember_me }}</div>
                    <label for="{{ form.remember_me.id }}" id="save-login-label"
                           class="reg-log-label">Сохранить вход</label>
                </div>
                <div class="card-item">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }} alert-login">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endwith %}
                </div>
                <div class="button-container">
                    {{ form.submit(type="submit", class="button my-submit-button", style="border: none") }}
                </div>
            </form>
        </div>
    </div>
    </body>
{% endblock %}