{% extends "empty.html" %}

{% block content %}
    <head>
        <title>Главная</title>
        <link rel="stylesheet" type="text/css" href="../static/css/main_page.css">
    </head>
    <body>
    <div class="border-radius-10px main-text"
         style="display: flex; min-height: 79px; max-height: 79px; justify-content: space-between; flex-direction: row">
        <div class="table-name" style="justify-self: flex-start; margin-top: auto; margin-bottom: auto">
            <h3>Сортировка</h3>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}"
                     style="max-width: fit-content; margin-top: auto; margin-bottom: auto; margin-left: 20px; padding-right: 30px">
                    {{ message }}
                </div>
            {% endfor %}
        {% endwith %}
        <div style="justify-self: flex-end; margin-top: auto; margin-bottom: auto; display: flex; flex-direction: row">
            <div class="sort-buttons" style="display: flex; margin-top: auto; margin-bottom: auto;">
                <form action="{{ url_for('index') }}" method="GET" class="sort-form">
                    <label>
                        <select name="sort_by" class="sort-select" onchange="this.form.submit()">
                            <option value="" {% if not sort_by %}selected{% endif %}>-- Сортировка --</option>
                            <option value="name_asc" {% if sort_by == 'name_asc' %}selected{% endif %}>По алфавиту (а-я)
                            </option>
                            <option value="name_desc" {% if sort_by == 'name_desc' %}selected{% endif %}>По алфавиту
                                (я-а)
                            </option>
                            <option value="date_old" {% if sort_by == 'date_old' %}selected{% endif %}>Старые</option>
                            <option value="date_new" {% if sort_by == 'date_new' %}selected{% endif %}>Новые</option>
                        </select>
                    </label>
                </form>
            </div>
            <div style="display: flex; margin-top: auto; margin-bottom: auto">
                <form action="{{ url_for('index') }}" method="GET" class="search-form">
                    <label>
                        <input type="text" name="search" placeholder="Поиск по названию">
                    </label>
                    <button type="submit" class="search-button button-header"
                            style="padding: 5px; border-radius: 5px; border: none; margin-right: 10px">Поиск
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        {% for idea in ideas %}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 mb-4">
                <div class="card text-white card-has-bg click-col"
                     onclick="window.location.href='{{ url_for('idea_detail', idea_id=idea.id) }}'"
                     style="background-image: url('{{ url_for('static', filename='img/' + idea.image) if idea.image else url_for('static', filename='img/placeholder.jpg') }}'); width: 300px; height: 450px">
                    <img class="card-img d-none"
                         src="{{ url_for('static', filename='img/' + idea.image) if idea.image else url_for('static', filename='img/placeholder.jpg') }}"
                         alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?" style="width: 300px; height: 450px">
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <small class="card-meta mb-2">Идея номер {{ idea.id }}</small>
                            <h4 class="card-title mt-0"><a class="text-white" href="#">{{ idea.name }}</a></h4>
                            <small><i class="far fa-clock"></i>{{ idea.add_time }}</small>
                        </div>
                        <div class="card-footer">
                            <div class="media">
                                <div class="media-body">
                                    <h6 class="my-0 text-white d-block">{{ idea.user.username }}</h6>
                                    <small>Пользователь</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    </body>
{% endblock %}

