{% extends "empty.html" %}

{% block content %}
    <head>
        <title>Главная</title>
        <link rel="stylesheet" type="text/css" href="../static/css/main_page.css">
    </head>
    <body>
    <div class="main-div">
        <div class="border-radius-10px main-text">
        </div>
    </div>
    <h1>Ideas Aggregator</h1>
    <table>
        <tr>
            <th>Имя</th>
            <th>Описание</th>
            <th>Картинка</th>
            <th>Время добавления</th>
            <th>Лайки</th>
            <th>Оценить</th>
        </tr>
        {% for idea in ideas %}
            <tr>
                <td>{{ idea.name }}</td>
                <td>{{ idea.description }}</td>
                <td><img src="{{ url_for('static', filename='uploads/' + idea.image) }}" alt="Image"></td>
                <td>{{ idea.add_time }}</td>
                <td>{{ idea.likes }}</td>
                <td style="min-width: 450px; display: flex; flex-direction: row">
                    <form action="{{ url_for('like_dislike', idea_id=idea.id, action='like') }}" method="POST">
                        <button type="submit" class="button btn-like">Like</button>
                    </form>
                    <form action="{{ url_for('like_dislike', idea_id=idea.id, action='dislike') }}" method="POST">
                        <button type="submit" class="button btn-dislike">Dislike</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('add_idea') }}">Add Idea</a>
    </body>
{% endblock %}