{% extends "empty.html" %}

{% block content %}
    <head>
        <title>Регистрация</title>
    </head>
    <body>
    <div class="reg-card">
        <div class="card-left" style="flex: 1; max-width: 100%;">
            <img src="../static/img/1.jpg" alt="1"
                 style="border-bottom-left-radius: 10px; border-top-left-radius: 10px">
        </div>
        <div class="card-right">
            <h1>Регистрация</h1>

            <form method="POST" action="/registration">
                {{ form.csrf_token }}
                <div class="card-item">
                    <div class="item-item">
                        <label for="{{ form.username.id }}" class="reg-log-label">Имя пользователя:</label>
                        <div style="float: right; margin-top: 5px">{{ form.username }}</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="item-item">
                        <label for="{{ form.password.id }}" class="reg-log-label">Пароль:</label>
                        <div style="float: right; margin-top: 5px">{{ form.password }}</div>
                    </div>
                </div>
                <div class="card-item">
                    <div class="item-item">
                        <label for="{{ form.confirm_password.id }}" class="reg-log-label">Подтверждение:</label>
                        <div style="float: right; margin-top: 5px">{{ form.confirm_password }}</div>
                    </div>
                </div>
                <div class="card-item">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% for category, message in messages %}
                            {% if category == success %}
                                {{ message }}<br>
                                <a href="/login">Перейти ко входу</a>
                            {% else %}
                                <div class="alert alert-{{ category }}"
                                     style="max-width: 100%; flex: 1">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endwith %}
                </div>
                <div class="button-container"
                     style="flex: 1">{{ form.submit(type="submit", class="button my-submit-button") }}</div>
            </form>

        </div>
    </div>
    </body>
{% endblock %}